*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/*MENU*/
.menu{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
}

nav, ul{
    display: flex;
    align-items: center;
}
nav, li{
    list-style: none;
    margin: 0 40px;
}
li, a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #FF1E1E;
}
button{
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background: #FF1E1E;
    color: #fff;
}
button:hover{
    transform: scale(1.2);
}
/*BANNER*/
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/ironman.jfif);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.banner{
    display: flex;
    align-items: center;
}
.box{
    width: 50%;
    color: #fff;
    margin: 100px;
}
.box h2{
    font-size: 65px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.box h5{
    font-size: 22px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.box p{
    font-size: 18px;
    margin-bottom: 45px;
}
.btn-box{
    padding: 18px 30px;
    font-size: 20px;
    border-radius: 15px;
}
.btn-box:hover{
    transform: none;
    background: #b41616;
}
/*PORTIFÓLIO*/
.portifolio{
    background: linear-gradient(45deg, #03001C, #03001C, #041C32);
    color: #FF1E1E;
    height: 60vh;
    
}
.container{
    margin-top: 50px;
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.card{
    margin: 50px 25px;
    border-radius: 15px;
    
}
.card img{
    align-items: center;
    display: flex;
    border-radius: 15px;
}
.card p{
    padding-top: 25px;
    padding-bottom: 10px;
}
@media screen and (max-width: 668px){
    .menu{
        flex-direction: column;
    }
    .menu nav{
        margin: 18px 0;
    }
    .menu button{
        display: none;
    }
    .menu nav{
        display: none;
    }
    .box{
        margin: 50px;
    }
    .box h2{
        font-size: 35px;
    }
    .box h5{
        font-size: 18px;
    }
    .box p{
        font-size: 15px;
    }
    .banner{
        background-position: right;
    }
}